<% include ./partials/header %>
<div class='ui main text container segment'>
	<div class='ui huge header'>
		<%= blog.title %>
	</div>
	<div class='ui top attached segment'>
		<div class='item'>
			<img class='ui centered rounded image' src='<%=blog.image%>'>
		</div>
		<div class='content'>
			<span><%=blog.created%></span>
		</div>
	</div>
		<p>
			<%=blog.body%>
		</p>
	<a class='ui orange basic button' href='/blogs/<%= blog._id%>/edit'>Edit post</a>
	<form id='delete' method='POST' action='/blogs/<%= blog._id%>?_method=DELETE'>
		<Button class='ui red basic button'>
			Delete post
		</Button>
	</form>
</div>



<% include ./partials/footer %>